*{
    box-sizing: border-box;
    margin: 0;
}


@font-face {
    font-family:'Fuente_Simple';
    src: url(fonts/Roboto-Light.ttf);
}

html{
    font-family:'Fuente_Simple';
}

header{
    background-color: white;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img{
    width: 200px;
}

header nav a{
    color: black;
    text-decoration: none;
    margin: 0px 30px;
    font-weight: bold;
    font-size: large;
}

header nav a:hover{
    background-color: lightblue;
    border-radius: 20%;

}

header 
.filtros_checkboxes{
    width: 200px;
}

.filtros_checkboxes input[type="checkbox"]{
    border: 2px;
}

.filtros_checkboxes label{
    display: block;
}


.contenedor_imagen img{
    width: 100%;
    position: absolute;
    left: -100%; /* Centra la imagen horizontalmente */
    right: -100%;
    top: -80%; /* Centra la imagen verticalmente */
    bottom: -100%;
    margin: auto;
    min-height: 100%; /* Asegura que la imagen cubra todo el contenedor */
    min-width: 100%;
}

.contenedor_imagen{
    position: relative;
    height: 640px;
    overflow: hidden;
    position: relative;
}

.llamado_atencion{
    position: absolute;
    top: 93px;
    left: 112px;
    width: 300px;
    height: 650px;
    background-color: rgba(0, 47, 255, 0.395);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.llamado_atencion_texto p, .llamado_atencion_texto h1, .llamado_atencion_texto button{
    margin-bottom: 60px; /* Agrega el espacio entre el texto del llamado a la atencion */
}

.empezar{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.categorias{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

.categorias img{
    display: block;
    height: 180px;
    width: 250px;
    border-radius: 20px;
}

.categorias p{
    margin-top: 10px;
    font-size: large;
    font-weight: 500;
}

footer{
    height: 300px;
    color: white;
    background-color: rgb(80,108,188);
}

.top_footer{
    display: flex;
}

.top_footer .trabaja_con_nosotros{
    flex: 50%;
}

.top_footer .otros_enlaces{
    flex: 50%;
    text-align: center;
}

ul {
    list-style-type: none; /* Elimina los bullets por defecto de ul*/
    padding: 40px; /* Remove padding */
  }

ul li a{
    color: white;
    text-decoration: none;
}