*{
    box-sizing: border-box;
    margin: 0;
}


@font-face {
    font-family:'Fuente_Simple';
    src: url(fonts/Roboto-Light.ttf);
}

html{
    font-family:'Fuente_Simple';
}

header{
    background-color: white;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img{
    width: 200px;
}

header nav a{
    color: black;
    text-decoration: none;
    margin: 0px 30px;
    font-weight:550;
    font-size: large;
}

header nav a:hover{
    text-decoration: underline;
}

.top_icons img{
    width: 25px;
}

.top_icons img:hover{
    transform:scale(1.5)
}

.top_icons{
    display: flex;
    gap: 40px;
}

/* header 
.filtros_checkboxes{
    width: 200px;
}

.filtros_checkboxes input[type="checkbox"]{
    border: 2px;
}

.filtros_checkboxes label{
    display: block;
}
 */

.contenedor_imagen img{
    width: 100%;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    left: -100%; 
    right: -100%;
    top: -80%; 
    bottom: -100%;
    margin: auto;
}

.contenedor_imagen{
    position: relative;
    height: 640px;
    overflow: hidden;
}


.llamado_atencion{
    display: flex;
    /* flex-direction: column; */
    position: absolute;
    justify-content: center;
    width: 20%;
    height: 100%;
    left: 10%;
    background: rgba(77, 109, 191, 0.70);
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    padding: 30px;
}

.llamado_atencion img{
    width: 50%;
    position: absolute;
}


.llamado_atencion_texto p, .llamado_atencion_texto h1, .llamado_atencion_texto button{
    margin-bottom: 60px; /* Agrega el espacio entre el texto del llamado a la atencion */
}

.buttom_home{
    width: 70%;
    padding: 15px 18px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid var(#3A3845);
}

.buttom_home:hover{
    background-color: #4d91ff;
    color: white;
}

.categorias{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

.categorias img{
    display: block;
    height: 180px;
    width: 250px;
    border-radius: 20px;
}

.categorias p{
    margin-top: 10px;
    font-size: large;
    font-weight: 500;
}


.categorias img:hover{
    transform: scale(1.1);
}

.promotions{
    padding: 0px 165px;
    margin: 50px;
}

.promotions a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-shadow: rgb(255, 123, 0) 1px 1px 1px;
}


.fila1{
    display: flex;
    flex: 50%;
    height: 348px;
    overflow: hidden;
}

.fila1 img{
    flex: 50%;
}

.texto_fila1{
    background: #F7F6F5;
    display: flex;
    padding: 64px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
    gap: 40px;
}


.fila2{
    display: flex;
    height: 348px;
    overflow: hidden;
}

.fila2 img{
    flex: 50%;
    width: 100%;
    left: -100%; 
    right: -100%;
    top: -100%; 
    bottom: -100%;
    margin: auto;
}

.texto_fila2{
    background: #F7F6F5;
    display: flex;
    padding: 64px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
    gap: 40px;
}

.fila3{
    display: flex;
    height: 348px;
    overflow: hidden;
}

.fila3 img{
    flex: 50%;
    flex: 50%;
    width: 100%;

}

.texto_fila3{
    background: #F7F6F5;
    display: flex;
    padding: 64px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
    gap: 40px;
}

footer{
    height: 300px;
    color: white;
    background-color: rgb(80,108,188);
    padding: 50px 165px;
}

footer a{
    color: white;
    text-decoration: none;
}

.trabaja_con_nosotros a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
} 

.top_footer{
    display: flex;
    border-bottom:1px white solid ;;
    text-align: center;
    padding: 10px;
}

.top_footer p{
    margin: 20px;
}

.trabaja_con_nosotros{
    flex: 50%;
    justify-content: space-evenly;
    border-right: 1px white solid ;
}

.trabaja_con_nosotros img{
    width: 70px;
}

.otros_enlaces{
    flex: 50%;
    text-align: center;
}

.social_media{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.social_media img{
    width: 50px;
    filter: invert(1);
}

.social_media img:hover{
    transform: scale(1.5);
    transition: 1s;
}

.bottom_footer p{
    margin-top: 20px;
    text-align: center;
}


/* **************************************** 

CONTACTOS

*******************************************/

.conocenos{
    margin: 30px;
    text-align: center;
}

.conocenos h2{
    margin-bottom: 20px;
}

.informacion_contacto{
    margin: 30px;
    text-align: center;
}

.informacion_contacto h3{
    font-size: small;
    margin-bottom: 5px;
    margin-top: 15px;
}

.informacion_contacto p{
    font-size: smaller;
    color: #313ca3;
}

.map{
    display: flex;
    justify-content: center;
    margin: 30px;
}

